# General
__pycache__/
*.py[cod]
*$py.class
.DS_Store
Thumbs.db

# Environments
.env
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Data & Models
data/
*.pth
*.pt
*.ckpt
*.h5

# Logs & Outputs
logs/
eda_results/
*.log
*.out
*.err

# Slurm
slurm-*.out
