numpy
pandas
torch
torchvision
scikit-learn
opencv-python-headless
albumentations
fastapi
uvicorn
pillow
seaborn
python-multipart
kagglehub
matplotlib
streamlit
google-generativeai
python-dotenv
grad-cam
tabulate
